.header{
    width: 100dvw;
    height: 4rem;
    background-color: aliceblue;
    display: flex;
    flex-flow: row nowrap;
}
.logoWrapper{
    display: grid;
    place-items: center;
    overflow: clip;
    width: 6rem;
}